html
    head
        title!=title
        meta(property='og:title', content!=title)
        meta(property='og:type', content='article')
        meta(property='og:image', content!=imageUri)
        meta(property='og:description', content!=description)
        script.
            window.location.replace('#{videoUri}/#{projectId}');
    body()